
@model List<Employee>

<div class="input-group rounded d-flex">
    <div class="flex-column" style="position:absolute">
        <h1 class="text-center">Rechercher un employé</h1>
        <div class="d-inline-flex">
            <input type="search" id="searchbar" onkeyup="search()" class="form-control rounded" placeholder="Search" aria-label="Search"
                   aria-describedby="search-addon" />
            <div id="Button" class="text-center"><button type="button" class="btn btn-outline-secondary ml-4 mr-4" asp-controller="Site" asp-action="Result">Chercher</button></div>
        </div>
    </div>

    <div id="listeSites"></div>
    <ul class="list-group list-group-flush my-5" style=" width: 50%; top: 100px; position: inherit;">

        @foreach (Employee e in @Model)
        {
            <div class="site" onclick="deroulant(@e.IdEmployee)">
            <li id="@e.IdEmployee" onclick="select('@e.IdEmployee')" class="list-group-item" style="display:flex;">

                <p><div class="donnee" style="margin-right:5%;">@e.Firstname</div></p>
                <p><div class="donnee">@e.Lastname</div></p>
                <i id="down" class="bi bi-caret-down-fill"></i><i id="up" class="bi bi-caret-up-fill" style="display:none"></i>
                <ul id="informations+@e.IdEmployee" style="display:none">
                    <p>Numéro de téléphonne fixe : <div class="donnee">@e.Phone</div></p>
                    <p>Numéro de téléphonne portable : <div class="donnee">@e.MobilePhone</div></p>
                    <p>adresse e-mail : <div class="donnee">@e.Mail</div></p>
                    <p>Service : <div id="@e.Service.IdService" class="donnee">@e.Service.NameService</div></p>
                    <p>Site : <div id="@e.Site.IdSite" class="donnee">@e.Site.NameSite</div></p>
                </ul>
            </li>
    </div>
}

        </ul>
        <form id="form" class="container" action='#' , method="post">
            @Html.AntiForgeryToken()
        </form>
        @if (ViewData["isLogged"] != null)
        {
            <div id="butons" style="position: absolute; top: 200%;">
                <a asp-controller="Employee" asp-action="Add"><button type="button" class="btn btn-outline-dark">Ajouter</button></a>
                <button type="button" class="btn btn-outline-dark" onclick="sendDataEmployees('Update')">Modifier</button>
                <button type="button" class="btn btn-outline-dark" onclick="sendDataEmployees('Delete')">Supprimer</button>
            </div>
        }


        <style>
            /*Css du dossier Site, page Index*/
            .site > li:hover {
                cursor: pointer;
                background-color: dimgray;
                color: white;
            }

            .site > li {
                background-color: transparent;
            }
        </style>


